@using SlojPodataka.Klase;
@model List<Zahtev>

@{
   Layout = null;
}

<style>
    body {
        text-align: center;
        font-family: Arial, sans-serif;
    }

    h1, h2, h3, h4 {
        color: #1f497d;
    }

    table {
        margin: 20px auto;
        border-collapse: collapse;
        width: 80%;
    }

    table, th, td {
        border: 1px solid #1f497d;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    h4 {
        margin-top: 20px;
        color: #1f497d;
    }
</style>

<h1>Lista Zahteva</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>JmbgKorisnika</th>
            <th>FinansijskaPotreba</th>
            <th>DrustvenoAngazovanje</th>
            <th>AkademskiUspeh</th>
            <th>Razlozi</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var zahtev in Model)
        {
            <tr>
                <td>@zahtev.Id</td>
                <td>@zahtev.JmbgKorisnika</td>
                <td>@(zahtev.FinansijskaPotreba ? "DA" : "NE")</td>
                <td>@(zahtev.DrustvenoAngazovanje ? "DA" : "NE")</td>
                <td>@zahtev.AkademskiUspeh</td>
                <td>@zahtev.Razlozi</td>
                <td>@zahtev.Status</td>
            </tr>
        }
    </tbody>
</table>
